@use "./variables" as v;

.authorize-container {
  width: 100vw;
  height: 100vh;
  margin-top: -180px;
  padding: 220px 15vw;

  .authorize-main {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    .delivery-container {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      width: 30vw;

      .delivery-type {
        h1 {
          font-family: v.$fontRB;
          font-size: 1rem;
          font-weight: 100;
        }

        h2 {
          font-family: v.$fontRL;
          font-size: 1rem;
          font-weight: 100;
        }
      }

      .delivery-offer {
        font-family: v.$fontRL;
        font-size: 1rem;
      }

      .delivery-type-edit {
        font-family: v.$fontRSB;
        font-size: 1rem;
        text-transform: capitalize;
        text-decoration: underline;
      }
    }

    .delivery-address-container {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      width: 30vw;

      .delivery-address-main {
        width: 25vw;

        .name {
          text-transform: uppercase;

          h1 {
            font-family: v.$fontRL;
            font-size: 1rem;
            font-weight: 100;
            text-transform: uppercase;
          }
        }

        .address {
          text-transform: uppercase;

          .address-line {
            font-family: v.$fontRL;
            font-size: 1rem;
            font-weight: 100;
          }

          .city {
            font-family: v.$fontRL;
            font-size: 1rem;
            font-weight: 100;
            display: inline-block;
          }

          .pincode {
            font-family: v.$fontRL;
            font-size: 1rem;
            font-weight: 100;
            display: inline-block;
          }

          .state {
            font-family: v.$fontRL;
            font-size: 1rem;
            font-weight: 100;
          }

          .country {
            font-family: v.$fontRL;
            font-size: 1rem;
            font-weight: 100;
          }

          .phone {
            font-family: v.$fontRL;
            font-size: 1rem;
            font-weight: 100;
          }
        }
      }

      .delivery-address-edit {
        font-family: v.$fontRSB;
        font-size: 1rem;
        text-transform: capitalize;
        text-decoration: underline;
      }
    }
  }

  .authorize-payment-container {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 37vw;
    height: 75vh;
    border: 1px solid black;
    border-bottom: none !important;
    border-right: none !important;
    border-radius: 60px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .authorize-payment-cart {
      height: 70%;
      padding: 50px 0 0 50px;

      .cart-products {
        overflow-y: scroll;
        height: 95%;

        .cart-items {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-bottom: 20px;
          margin-bottom: 20px;
          margin-right: 30px;

          .cart-product-info {
            display: flex;
            gap: 2rem;

            .cart-item-info {
              text-transform: uppercase;
              display: flex;
              flex-direction: column;
              justify-content: space-between;

              .info {
                h3 {
                  letter-spacing: 0.5px;
                }

                p {
                  color: v.$textTeal;
                }
              }

              .item-filter {
                display: flex;
                gap: 1em;

                p {
                  color: v.$dark;

                  &:nth-of-type(1) {
                    font-family: v.$fontRM;
                  }

                  &:nth-of-type(2) {
                    display: flex;
                    justify-content: center;
                    width: 40px;
                    border: 1px solid v.$dark;
                  }
                }
              }
            }

            .image-container {
              position: relative;
              width: 80px;
              height: 80px;
              overflow: hidden;
            }
          }

          button {
            border: 1px solid v.$dark;
            width: fit-content;
            height: fit-content;
            padding: 10px;
            border-radius: 100px;

            display: flex;
            justify-content: center;
            align-items: center;

            svg {
              width: 15px;
              height: 15px;
            }

            &:hover {
              background-color: v.$dark;
            }
          }

          .line {
            width: 100%;
            height: 1px;
            background-color: v.$dark;
            position: absolute;
            bottom: 0;
          }
        }
      }
    }

    .authorize-payment-bottom-container {
      width: 37vw;
      height: 20vh;
      background-color: v.$dark;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1.5rem;
      padding: 0 30px;

      .price-container {
        width: 10vw;
        display: flex;

        .text {
          color: v.$bg;

          h3 {
            font-size: 1.5rem;
            font-family: v.$fontRR;
          }

          span {
            display: flex;
            align-items: center;

            p {
              font-size: 0.7rem;
              font-weight: 600;
            }

            svg {
              width: 0.9rem;
            }
          }
        }

        svg {
          color: v.$bg;
          width: 30px;
          transform: rotate(180deg);
        }
      }

      .line {
        width: 1px;
        height: 70%;
        background-color: v.$bg;
      }

      .payment-button-container {
        width: 25vw;
        display: flex;
        align-items: center;
        justify-content: center;

        button {
          align-items: center;
          display: flex;
          gap: 6px;
          padding: 6px 6px 6px 15px;
          border-radius: 100px;
          border-style: solid;
          border-width: 2px;
          border-color: v.$bg;
          font-size: 0.6rem;

          &:hover {
            background-color: v.$bg;
            border-color: v.$bg;

            h3 {
              color: v.$dark;
            }
          }

          &:active {
            background-color: v.$bg;
            border-color: v.$bg;

            h3 {
              color: v.$dark;
            }
          }

          h3 {
            font-family: v.$fontRM;
            font-weight: 500;
            font-size: 1rem;
            color: v.$bg;
          }

          svg {
            width: 2.5rem;
            height: auto;
            fill: v.$bg;
          }
        }
      }
    }
  }
}

//*----------> Tablets
@media screen and (max-width: 1024px) {
  .authorize-container {
    width: 100vw;
    height: 100vh;
    margin-top: -180px;
    display: flex;
    flex-direction: column;
    padding: 0 0;

    .authorize-main {
      display: flex;
      flex-direction: column;
      height: 55vh;
      gap: 2rem;
      padding: 190px 15vw 80px 15vw;

      .delivery-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 40vw;

        .delivery-type {
          h1 {
            font-family: v.$fontRB;
            font-size: 1rem;
            font-weight: 100;
          }

          h2 {
            font-family: v.$fontRL;
            font-size: 1rem;
            font-weight: 100;
          }
        }

        .delivery-offer {
          font-family: v.$fontRL;
          font-size: 1rem;
        }

        .delivery-type-edit {
          font-family: v.$fontRSB;
          font-size: 1rem;
          text-transform: capitalize;
          text-decoration: underline;
        }
      }

      .delivery-address-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 50vw;

        .delivery-address-main {
          width: 50vw;

          .name {
            text-transform: uppercase;

            h1 {
              font-family: v.$fontRL;
              font-size: 1rem;
              font-weight: 100;
              text-transform: uppercase;
            }
          }

          .address {
            text-transform: uppercase;

            .address-line {
              font-family: v.$fontRL;
              font-size: 1rem;
              font-weight: 100;
            }

            .city {
              font-family: v.$fontRL;
              font-size: 1rem;
              font-weight: 100;
              display: inline-block;
            }

            .pincode {
              font-family: v.$fontRL;
              font-size: 1rem;
              font-weight: 100;
              display: inline-block;
            }

            .state {
              font-family: v.$fontRL;
              font-size: 1rem;
              font-weight: 100;
            }

            .country {
              font-family: v.$fontRL;
              font-size: 1rem;
              font-weight: 100;
            }

            .phone {
              font-family: v.$fontRL;
              font-size: 1rem;
              font-weight: 100;
            }
          }
        }

        .delivery-address-edit {
          font-family: v.$fontRSB;
          font-size: 1rem;
          text-transform: capitalize;
          text-decoration: underline;
        }
      }
    }

    .authorize-payment-container {
      position: relative;
      right: 0;
      bottom: 0;
      width: 100vw;
      height: 45vh;
      border: 1px solid black !important;
      border-radius: 60px 60px 0 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .authorize-payment-cart {
        height: 25vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 40px 0 40px;
        justify-content: start;

        .cart-products {
          overflow-y: scroll;
          height: 25vh;
          width: 90vw;

          .cart-items {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 20px;
            margin-bottom: 20px;
            margin-right: auto;

            .cart-product-info {
              display: flex;
              gap: 2rem;

              .cart-item-info {
                text-transform: uppercase;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .info {
                  h3 {
                    letter-spacing: 0.5px;
                  }

                  p {
                    color: v.$textTeal;
                  }
                }

                .item-filter {
                  display: flex;
                  gap: 1em;

                  p {
                    color: v.$dark;

                    &:nth-of-type(1) {
                      font-family: v.$fontRM;
                    }

                    &:nth-of-type(2) {
                      display: flex;
                      justify-content: center;
                      width: 40px;
                      border: 1px solid v.$dark;
                    }
                  }
                }
              }

              .image-container {
                position: relative;
                width: 80px;
                height: 80px;
                overflow: hidden;
              }
            }

            button {
              border: 1px solid v.$dark;
              width: fit-content;
              height: fit-content;
              padding: 10px;
              border-radius: 100px;

              display: flex;
              justify-content: center;
              align-items: center;

              svg {
                width: 15px;
                height: 15px;
              }

              &:hover {
                background-color: v.$dark;
              }
            }

            .line {
              width: 100%;
              height: 1px;
              background-color: v.$dark;
              position: absolute;
              bottom: 0;
            }
          }
        }
      }

      .authorize-payment-bottom-container {
        width: 100vw;
        height: 20vh;
        background-color: v.$dark;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        padding: 0 50px;

        .price-container {
          width: 49.5vw;
          display: flex;

          .text {
            color: v.$bg;

            h3 {
              font-size: 1.7rem;
              font-family: v.$fontRR;
            }

            span {
              p {
                font-size: 0.9rem;
                font-weight: 600;
              }

              svg {
                width: 0.9rem;
              }
            }
          }

          svg {
            color: v.$bg;
            width: 30px;
            transform: rotate(180deg);
          }
        }

        .line {
          width: 3px;
          height: 60%;
          background-color: v.$bg;
        }

        .payment-button-container {
          width: 49.5vw;
          display: flex;
          align-items: center;
          justify-content: center;

          button {
            align-items: center;
            display: flex;
            gap: 8px;
            padding: 6px 6px 6px 15px;
            border-radius: 100px;
            border-style: solid;
            border-width: 2px;
            border-color: v.$bg;
            font-size: 0.6rem;

            &:hover {
              background-color: v.$bg;
              border-color: v.$bg;

              h3 {
                color: v.$dark;
              }

              svg {
                fill: v.$bg;
              }
            }

            &:active {
              background-color: v.$bg;
              border-color: v.$bg;

              h3 {
                color: v.$dark;
              }

              svg {
                fill: v.$bg;
              }
            }

            h3 {
              font-family: v.$fontRM;
              font-weight: 500;
              font-size: 1.2rem;
              color: v.$bg;
            }

            svg {
              width: 2.5rem;
              height: auto;
              fill: v.$bg;
            }
          }
        }
      }
    }
  }
}

//*----------> largeMobile
@media screen and (max-width: 768px) {
  .authorize-container {
    width: 100vw;
    height: auto;
    margin-top: -80px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0 0;

    .authorize-main {
      display: flex;
      flex-direction: column;
      height: auto;
      gap: 2.5rem;
      padding: 0 7vw;

      .delivery-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 80vw;

        .delivery-type {
          h1 {
            font-family: v.$fontRB;
            font-size: 0.9rem;
            font-weight: 100;
          }

          h2 {
            font-family: v.$fontRL;
            font-size: 0.9rem;
            font-weight: 100;
          }
        }

        .delivery-offer {
          font-family: v.$fontRL;
          font-size: 0.9rem;
        }

        .delivery-type-edit {
          font-family: v.$fontRSB;
          font-size: 0.9rem;
          text-transform: capitalize;
          text-decoration: underline;
        }
      }

      .delivery-address-container {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        width: 80vw;

        .delivery-address-main {
          width: 80vw;

          .name {
            text-transform: uppercase;

            h1 {
              font-family: v.$fontRL;
              font-size: 0.9rem;
              font-weight: 100;
              text-transform: uppercase;
            }
          }

          .address {
            text-transform: uppercase;

            .address-line {
              font-family: v.$fontRL;
              font-size: 0.9rem;
              font-weight: 100;
            }

            .city {
              font-family: v.$fontRL;
              font-size: 0.9rem;
              font-weight: 100;
              display: inline-block;
            }

            .pincode {
              font-family: v.$fontRL;
              font-size: 0.9rem;
              font-weight: 100;
              display: inline-block;
            }

            .state {
              font-family: v.$fontRL;
              font-size: 0.9rem;
              font-weight: 100;
            }

            .country {
              font-family: v.$fontRL;
              font-size: 0.9rem;
              font-weight: 100;
            }

            .phone {
              font-family: v.$fontRL;
              font-size: 0.9rem;
              font-weight: 100;
            }
          }
        }

        .delivery-address-edit {
          font-family: v.$fontRSB;
          font-size: 0.9rem;
          text-transform: capitalize;
          text-decoration: underline;
        }
      }
    }

    .authorize-payment-container {
      position: relative;
      right: 0;
      bottom: 0;
      width: 100vw;
      height: 50vh;
      border: 1px solid black !important;
      border-radius: 40px 40px 0 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .authorize-payment-cart {
        height: 30vh;
        padding: 20px 50px 0 50px;

        .cart-products {
          overflow-y: scroll;
          height: 95%;

          .cart-items {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 20px;
            margin-bottom: 20px;
            margin-right: auto;

            .cart-product-info {
              display: flex;
              gap: 2rem;

              .cart-item-info {
                text-transform: uppercase;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .info {
                  h3 {
                    letter-spacing: 0.5px;
                    font-size: 0.75rem;
                  }

                  p {
                    color: v.$textTeal;
                    font-size: 0.75rem;
                  }
                }

                .item-filter {
                  display: flex;
                  gap: 1em;

                  p {
                    color: v.$dark;
                    font-size: 0.75rem;

                    &:nth-of-type(1) {
                      font-family: v.$fontRM;
                    }

                    &:nth-of-type(2) {
                      display: flex;
                      justify-content: center;
                      width: 40px;
                      border: 1px solid v.$dark;
                    }
                  }
                }
              }

              .image-container {
                position: relative;
                width: 50px;
                height: 50px;
                overflow: hidden;
              }
            }

            button {
              border: 1px solid v.$dark;
              width: fit-content;
              height: fit-content;
              padding: 10px;
              border-radius: 100px;

              display: flex;
              justify-content: center;
              align-items: center;

              svg {
                width: 15px;
                height: 15px;
              }

              &:hover {
                background-color: v.$dark;
              }
            }

            .line {
              width: 100%;
              height: 1px;
              background-color: v.$dark;
              position: absolute;
              bottom: 0;
            }
          }
        }
      }

      .authorize-payment-bottom-container {
        width: 100vw;
        height: 20vh;
        background-color: v.$dark;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        padding: 0 7vw;

        .price-container {
          width: 48vw;
          display: flex;

          .text {
            color: v.$bg;

            h3 {
              font-size: 1rem;
              font-family: v.$fontRR;
            }

            span {
              display: flex;
              align-items: center;
              gap: 0.1rem;

              svg {
                width: 0.5rem;
              }

              p {
                font-size: 0.5rem;
                font-weight: 600;
              }
            }
          }

          svg {
            color: v.$bg;
            width: 30px;
            transform: rotate(180deg);
          }
        }

        .line {
          width: 2px;
          height: 60%;
          background-color: v.$bg;
        }

        .payment-button-container {
          width: 48vw;
          display: flex;
          align-items: center;
          justify-content: center;

          button {
            align-items: center;
            display: flex;
            gap: 5px;
            padding: 6px 6px 6px 10px;
            border-radius: 100px;
            border-style: solid;
            border-width: 2px;
            border-color: v.$bg;
            font-size: 0.5rem;

            &:hover {
              background-color: v.$bg;
              border-color: v.$bg;

              h3 {
                color: v.$dark;
              }

              svg {
                fill: v.$bg;
              }
            }

            &:active {
              background-color: v.$bg;
              border-color: v.$bg;

              h3 {
                color: v.$dark;
              }

              svg {
                fill: v.$bg;
              }
            }

            h3 {
              font-family: v.$fontRM;
              font-weight: 500;
              font-size: 0.75rem;
              color: v.$bg;
            }

            svg {
              width: 3rem;
              height: auto;
              fill: v.$bg;
            }
          }
        }
      }
    }
  }
}

//*---------> smallMobile
@media screen and (max-width: 320px) {
  .authorize-container {
    width: 100vw;
    height: auto;
    margin-top: -80px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0 0;

    .authorize-main {
      display: flex;
      flex-direction: column;
      height: auto;
      gap: 2.5rem;
      padding: 0 7vw;

      .delivery-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 80vw;

        .delivery-type {
          h1 {
            font-family: v.$fontRB;
            font-size: 0.9rem;
            font-weight: 100;
          }

          h2 {
            font-family: v.$fontRL;
            font-size: 0.9rem;
            font-weight: 100;
          }
        }

        .delivery-offer {
          font-family: v.$fontRL;
          font-size: 0.9rem;
        }

        .delivery-type-edit {
          font-family: v.$fontRSB;
          font-size: 0.9rem;
          text-transform: capitalize;
          text-decoration: underline;
        }
      }

      .delivery-address-container {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        width: 80vw;

        .delivery-address-main {
          width: 80vw;

          .name {
            text-transform: uppercase;

            h1 {
              font-family: v.$fontRL;
              font-size: 0.9rem;
              font-weight: 100;
              text-transform: uppercase;
            }
          }

          .address {
            text-transform: uppercase;

            .address-line {
              font-family: v.$fontRL;
              font-size: 0.9rem;
              font-weight: 100;
            }

            .city {
              font-family: v.$fontRL;
              font-size: 0.9rem;
              font-weight: 100;
              display: inline-block;
            }

            .pincode {
              font-family: v.$fontRL;
              font-size: 0.9rem;
              font-weight: 100;
              display: inline-block;
            }

            .state {
              font-family: v.$fontRL;
              font-size: 0.9rem;
              font-weight: 100;
            }

            .country {
              font-family: v.$fontRL;
              font-size: 0.9rem;
              font-weight: 100;
            }

            .phone {
              font-family: v.$fontRL;
              font-size: 0.9rem;
              font-weight: 100;
            }
          }
        }

        .delivery-address-edit {
          font-family: v.$fontRSB;
          font-size: 0.9rem;
          text-transform: capitalize;
          text-decoration: underline;
        }
      }
    }

    .authorize-payment-container {
      position: relative;
      right: 0;
      bottom: 0;
      width: 100vw;
      height: 60vh;
      border: 1px solid black !important;
      border-radius: 40px 40px 0 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .authorize-payment-cart {
        height: 40vh;
        padding: 20px 50px 0 50px;

        .cart-products {
          overflow-y: scroll;
          height: 95%;

          .cart-items {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 20px;
            margin-bottom: 20px;
            margin-right: auto;

            .cart-product-info {
              display: flex;
              gap: 2rem;

              .cart-item-info {
                text-transform: uppercase;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .info {
                  h3 {
                    letter-spacing: 0.5px;
                    font-size: 0.75rem;
                  }

                  p {
                    color: v.$textTeal;
                    font-size: 0.75rem;
                  }
                }

                .item-filter {
                  display: flex;
                  gap: 1em;

                  p {
                    color: v.$dark;
                    font-size: 0.75rem;

                    &:nth-of-type(1) {
                      font-family: v.$fontRM;
                    }

                    &:nth-of-type(2) {
                      display: flex;
                      justify-content: center;
                      width: 40px;
                      border: 1px solid v.$dark;
                    }
                  }
                }
              }

              .image-container {
                position: relative;
                width: 50px;
                height: 50px;
                overflow: hidden;
              }
            }

            button {
              border: 1px solid v.$dark;
              width: fit-content;
              height: fit-content;
              padding: 10px;
              border-radius: 100px;

              display: flex;
              justify-content: center;
              align-items: center;

              svg {
                width: 15px;
                height: 15px;
              }

              &:hover {
                background-color: v.$dark;
              }
            }

            .line {
              width: 100%;
              height: 1px;
              background-color: v.$dark;
              position: absolute;
              bottom: 0;
            }
          }
        }
      }

      .authorize-payment-bottom-container {
        width: 100vw;
        height: 20vh;
        background-color: v.$dark;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        padding: 0 7vw;

        .price-container {
          width: 48vw;
          display: flex;

          .text {
            color: v.$bg;

            h3 {
              font-size: .9rem;
              font-family: v.$fontRR;
            }

            span {
              display: flex;
              align-items: center;
              gap: 0.1rem;

              svg {
                width: 0.5rem;
              }

              p {
                font-size: 0.5rem;
                font-weight: 600;
              }
            }
          }

          svg {
            color: v.$bg;
            width: 25px;
            transform: rotate(180deg);
          }
        }

        .line {
          width: 2px;
          height: 60%;
          background-color: v.$bg;
        }

        .payment-button-container {
          width: 48vw;
          display: flex;
          align-items: center;
          justify-content: center;

          button {
            align-items: center;
            display: flex;
            gap: 5px;
            padding: 6px 6px 6px 10px;
            border-radius: 100px;
            border-style: solid;
            border-width: 2px;
            border-color: v.$bg;
            font-size: 0.5rem;

            &:hover {
              background-color: v.$bg;
              border-color: v.$bg;

              h3 {
                color: v.$dark;
              }

              svg {
                fill: v.$bg;
              }
            }

            &:active {
              background-color: v.$bg;
              border-color: v.$bg;

              h3 {
                color: v.$dark;
              }

              svg {
                fill: v.$bg;
              }
            }

            h3 {
              font-family: v.$fontRM;
              font-weight: 500;
              font-size: 0.65rem;
              color: v.$bg;
            }

            svg {
              width: 2.5rem;
              height: auto;
              fill: v.$bg;
            }
          }
        }
      }
    }
  }
}
