@use "./variables" as v;

.body-wrapper {
  margin-top: 0 !important;
}

html {
  font-size: 16px;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
}

body {
  line-height: 1.3;
  font-family: v.$fontRL;
  overflow-x: hidden;
  background-color: v.$bg;
}

a {
  text-decoration: none;
  color: v.$dark;
  text-transform: uppercase;
  letter-spacing: 1px;

  &:hover {
    color: v.$textTeal;
  }
}

ul {
  list-style-type: none;
}

svg {
  width: 20px;
  height: 20px;
}

button {
  background: none;
  border: none;

  cursor: pointer;
}

.cart-empty {
  max-width: 100vw;
  height: calc(100vh - 100px);
  padding: 0 6vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  p {
    text-align: center;
    font-family: v.$fontRM;
    font-size: 2rem;
  }

  button {
    border: 1px solid v.$textTeal;
    color: v.$textTeal;
    padding: 5px 10px;
    border-radius: 100px;

    &:hover {
      background-color: v.$textTeal;
      color: v.$bg;
    }
  }
}

//*----------> mediaQuroes

//*----------> smartWatch

// @media screen and (max-width: 270px)

//*----------> smallMobile

// @media screen and (min-width: 271px) and (max-width: 360px)

//*----------> largeMobile

// @media screen and (min-width: 361px) and (max-width: 767px)

//*----------> Tablets

// @media screen and (min-width: 768px) and (max-width:1023px)

//*----------> Desktop

// @media screen and (min-width: 1024px) and (max-width:1280px)

//*----------> Largedesktop

// @media screen and (min-width:1280px)
