@use "./variables" as *;

.product-slug-main {
  width: 100vw;

  .product-container {
    height: auto;
    padding: 20px 8vw;
    padding-bottom: 100px;

    display: flex;
    position: relative;

    .product-info {
      position: relative;
      margin-top: 60px;
      display: flex;
      flex-direction: column;

      margin-left: 80px;
      padding-right: 50px;

      h2 {
        font-family: $fontAR;
        font-weight: 700;

        line-height: 0.9;
        color: $dark;

        font-size: 6rem;

        span {
          //font-family: $fontAMI;
          font-family: $fontAM;
          font-style: italic;
        }
      }

      .out-of-stock-pro {
        background-color: $textTeal;
        width: fit-content;
        padding: 5px 10px;
        margin: 10px 0;

        font-family: $fontRB;
        font-size: 0.8rem;
        color: $bg;
      }

      .product-details {
        font-size: 1rem;
        line-height: 1;
        padding-right: 50px;
      }

      .product-info-price-size {
        display: flex;
        align-items: center;
        gap: 20px;
        margin: 30px 0;

        p {
          font-weight: 800;
          font-size: 1.2rem;
          font-family: $fontRM;

          text-transform: uppercase;
          color: $textTeal;
        }

        button {
          padding: 5px 20px;
          border: 2px solid $textTeal;
          border-radius: 999px;

          &:hover {
            background-color: $textTeal;
            color: $bg;
          }
        }
      }

      a {
        color: $textTeal;
        font-size: 0.8rem;
        margin-left: 100px;
        text-decoration: underline;
        display: flex;
        align-items: center;
        gap: 0.5em;
      }

      .scroller {
        margin-top: 50px;
        position: relative;
        display: flex;
        gap: 1em;

        svg {
          width: 50px;
          height: 50px;
        }

        p {
          text-transform: uppercase;
          font-family: $fontRM;
        }
      }
    }

    .product-images {
      display: flex;
      gap: 60px;

      .img-container {
        position: relative;
        width: 350px;
        height: 437.5px;
        overflow: hidden;

        .image-zoom-container {
          position: relative;
          width: 100%;
          height: 100%;

          .zoomed-image {
            transition: transform 200ms ease-out;
          }

          &:hover .zoomed-image {
            transform: scale(2.5) !important;
            transition: transform 100ms ease-out;
          }

          .zoomed-image {
            transform-origin: top left;
          }

          .zoomed-image::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
            z-index: 999;
          }

          &:hover .zoomed-image::after {
            display: none;
          }
        }
      }

      .img-container:nth-of-type(2) {
        position: relative;
        width: 200px;
        height: 300px;
        overflow: hidden;
      }

      .next {
        height: fit-content;
        margin-top: 200px;

        svg {
          margin-left: 100px;
          width: 40px;
          height: 40px;
        }
      }
    }

    .buy-now-container {
      width: 550px;
      height: 160px;
      background-color: $dark;
      position: absolute;
      bottom: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 80px;

      svg {
        fill: $bg;
        width: 50px;
        height: 50px;
      }

      .line {
        width: 1px;
        height: 60px;
        background-color: $bg;
      }

      .button {
        background-color: $bg;
        width: 220px;
        height: 50px;
        position: relative;
        border-radius: 999px;

        display: flex;
        justify-content: center;
        align-items: center;

        text-transform: uppercase;
        font-size: 1.2rem;
        font-weight: 500;

        svg {
          fill: $dark;
          width: 20px;
          position: absolute;
          right: 20px;
        }

        &:hover {
          background-color: $textTeal;
          color: $bg;

          svg {
            fill: $bg;
          }
        }
      }
    }
  }

  .description-container {
    width: 100vw;
    background-color: $dark;
    padding: 150px 8vw;
    color: $bg;

    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;

    gap: 50px;

    border-bottom: 1px solid $bg;

    h2 {
      text-decoration: underline;
      font-family: $fontRM;
    }

    p {
      max-width: 600px;
    }
  }

  .related-products-main {
    width: 100vw;
    background-color: $dark;
    padding: 150px 8vw;

    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      font-family: $fontAM;
      font-size: 5rem;
      color: $bg;
      font-weight: 100;
      margin-bottom: 100px;
    }

    .products-grid {
      display: flex;
      gap: 40px;

      .product-sec {
        position: relative;
        width: 260px;

        button {
          position: absolute;
          top: 65%;
          left: 50%;
          width: 50px;
          height: 50px;
          background-color: rgba(0, 0, 0, 0.5);
          z-index: 3;
          border-radius: 100px;
          margin-bottom: 50px;
          transform: translateX(-50%);

          svg {
            width: 30px;
            height: 30px;
            color: $bg;
          }

          &:hover {
            background-color: #1948417e;
          }
        }
      }

      .product-link-out {
        pointer-events: none;
        cursor: default;
      }

      .product {
        overflow: hidden;

        .img-container {
          position: relative;
          width: 100%;
          height: 325px;
          display: flex;
          justify-content: center;
          align-items: flex-end;

          .out-of-stock {
            background-color: rgba(0, 0, 0, 0.5);
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            z-index: 4;
            display: flex;
            justify-content: center;
            align-items: center;

            p {
              color: $bg;
              font-family: $fontRM;
            }
          }

          img {
            z-index: 2;
          }
        }
        .info-out {
          text-decoration-line: line-through;
        }

        .product-info {
          font-size: 0.8rem;
          font-weight: 600;
          margin: 10px 0;
          color: $bg;
          display: flex;
          flex-direction: column;
          gap: 10px;
        }
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .product-slug-main {
    .product-container {
      .product-info {
        margin-left: 0;

        .product-info-price-size {
          gap: 10px;
        }
      }
      .product-images {
        .img-container {
          width: 280px;
          height: 400px;
        }

        .img-container:nth-of-type(2) {
          width: 180px;
          height: 250px;
        }

        .next {
          svg {
            margin-left: 50px;
          }
        }
      }

      .buy-now-container {
        width: 450px;
        padding: 0 40px;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .product-slug-main {
    .product-container {
      .product-info {
        margin-left: 0;
      }
      .product-images {
        gap: 20px;

        .img-container {
          width: 240px;
          height: 380px;
        }

        .next {
          margin-top: 150px;
          svg {
            margin-left: 0;
          }
        }
      }

      .buy-now-container {
        width: 450px;
        height: 140px;
        padding: 0 40px;
      }
    }
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .product-slug-main {
    height: auto !important;
    .product-container {
      width: 100%;
      flex-direction: column;
      padding-bottom: 140px;

      height: auto;
      .product-info {
        margin-left: 0;
        max-width: 100%;
        h2 {
          margin-bottom: 0;
        }

        .product-details {
          margin-top: 40px;
        }
        .product-info-price-size {
          margin: 20px 0;
        }
        .scroller {
          display: none;
        }
      }
      .product-images {
        gap: 20px;
        order: -1;
        justify-content: space-between;
        position: relative;

        .img-container {
          width: 60vw;
          height: 60vh;
        }

        .next {
          position: absolute;
          margin-top: 400px;
          right: 0;

          svg {
            margin-left: 0;
            width: 50px;
            height: 50px;
          }
        }
      }

      .buy-now-container {
        width: 450px;
        height: 140px;
        padding: 0 40px;
      }
    }

    .related-products-main {
      .products-grid {
        width: 100%;
        justify-content: space-between;
        .product-sec {
          width: 30vw;
          .product {
            .img-container {
              height: 30vh;
            }
          }
          button {
            top: 60%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  main {
    margin-top: 160px !important;
  }
  .product-slug-main {
    .product-container {
      width: 100%;
      flex-direction: column;
      height: auto;
      padding-bottom: 201px;

      .product-info {
        margin-left: 0;
        max-width: 100%;
        h2 {
          margin-bottom: 0;
          font-size: 4rem;
        }

        .product-details {
          margin: 40px 0;
        }
        .product-info-price-size {
          margin: 20px 0;
        }
        .scroller {
          display: none;
        }
      }
      .product-images {
        gap: 20px;
        order: -1;
        justify-content: space-between;
        position: relative;

        .img-container {
          position: relative;
          width: 100vw;
          height: 60vh;
          z-index: 10;
        }
        .img-container:nth-of-type(2) {
          position: absolute;
          z-index: 9;
        }

        .next {
          position: absolute;
          margin-top: 400px;
          right: 20px;
          z-index: 11;

          svg {
            margin-left: 0;
            width: 50px;
            height: 50px;
          }
        }
      }

      .buy-now-container {
        width: 100%;
        height: 140px;
        padding: 0 20px;
        border-bottom: 1px solid $bg;
      }
    }

    .related-products-main {
      h2 {
        font-size: 4rem;
      }
      .products-grid {
        flex-direction: column;
        width: 100%;
        justify-content: space-between;
        .product-sec {
          width: 100%;
          .product {
            .img-container {
              height: 50vh;
            }
          }

          .product-info {
            font-size: 1.5rem;
          }
          button {
            top: 60%;
          }
        }
      }
    }
  }
}
