@use "./variables" as v;

.refund-main {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: auto;
  padding: 0 27vw 7vh 27vw;
  gap: 2em;

  p {
    font-size: 1em;
    font-family: v.$fontRM;
  }

  .refund-content {
    h3 {
      font-family: v.$fontRM;
    }
  }

  .refund-watermark-container {
    position: fixed;
    z-index: 1;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 5vw;
    bottom: 7vh;
    fill: v.$textBrown;

    svg {
      width: 100px;
      height: 100px;

      &:nth-of-type(1) {
        width: 40px;
        height: 40px;
      }

      &:nth-of-type(2) {
        position: absolute;
        top: 0;
        left: 0;

        animation: rotate 40s linear infinite forwards;

        @keyframes rotate {
          0% {
            transform: rotate(0);
          }
          100% {
            transform: rotate(360deg);
          }
        }
      }
    }
  }

  .refund-body {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .refund-heading {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      h1 {
        font-family: v.$fontASB;
        color: v.$textTeal;
        font-size: 6em;
      }
    }

    .refund-content-section {
      display: flex;
      flex-direction: column;
      gap: 1em;

      .refund-content {
        display: flex;
        flex-direction: column;
        gap: 1em;
      }
    }
  }
}

//*----------> Tablets
@media screen and (max-width: 1024px) {
  .refund-main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
    padding: 0 10vw 5vh 10vw;
    gap: 2em;

    .refund-watermark-container {
      display: none;

      svg {
        display: none;
      }
    }

    .refund-body {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      .refund-heading {
        display: flex;
        flex-direction: column;
        gap: 1em;

        h1 {
          font-family: v.$fontASB;
          color: v.$textTeal;
          font-size: 6rem;
        }

        .refund-description {
          font-weight: 100;
        }
      }

      .refund-content-section {
        display: flex;
        flex-direction: column;
        gap: 1em;

        .refund-content {
          display: flex;
          flex-direction: column;
          gap: 1em;
        }
      }
    }
  }
}

//*----------> largeMobile
@media screen and (max-width: 768px) {
  .refund-main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
    padding: 0 10vw 5vh 10vw;
    gap: 2em;
    margin-top: -80px;

    .refund-watermark-container {
      display: none;

      svg {
        display: none;
      }
    }

    .refund-body {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .refund-heading {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        h1 {
          font-family: v.$fontASB;
          color: v.$textTeal;
          font-size: 4rem;
        }
      }

      .refund-content-section {
        display: flex;
        flex-direction: column;
        gap: 1em;

        .refund-content {
          display: flex;
          flex-direction: column;
          gap: 1em;
          font-family: v.$fontRB;
        }
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .refund-main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
    padding: 0 10vw 5vh 10vw;
    gap: 2em;
    margin-top: -80px;

    .refund-watermark-container {
      display: none;

      svg {
        display: none;
      }
    }

    .refund-body {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      .refund-heading {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        h1 {
          font-family: v.$fontASB;
          color: v.$textTeal;
          font-size: 3.5rem;
        }
      }

      .refund-content-section {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .refund-content {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          font-family: v.$fontRB;
          font-size: 1rem;
        }
      }
    }
  }
}
