@use "./variables" as v;

.shipping-info-container {
  width: 100vw;
  height: 100vh;
  margin-top: -180px;
  padding: 200px 10vh;

  .shipping-info-main {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 50px;

    .shipping-info {
      h1 {
        font-size: 1.3rem;
        font-family: v.$fontRSB;
      }

      h2 {
        font-size: 1rem;
        font-family: v.$fontRL;

        a {
          text-decoration: underline;
        }
      }

      p {
        margin-top: 5px;
        font-size: 0.8rem;
        font-family: v.$fontRM;
      }
    }
    .shipping-info-form {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      button[type="submit"] {
        display: none;
      }

      input {
        border-radius: 0 !important;
      }

      .main {
        display: flex;
        justify-content: start;
        gap: 2.5rem;

        input {
          width: 35vw;
          background-color: v.$bg;
          border-top: none;
          border-left: none;
          border-right: none;
          border-color: v.$bordercolor;
          outline: none;
          font-family: v.$fontRSB;
          font-size: 1rem;
        }

        p {
          font-family: v.$fontRR;
          font-weight: 500;
          font-size: 1rem;
        }

        .left {
          display: flex;
          flex-direction: column;
          gap: 1.5rem;
          width: 35vw;

          .state {
            outline: none !important;
            .state-select-container {
              outline: none !important;

              .state-select__control {
                background-color: v.$bg;
                border-radius: 0;
                border-top: none;
                border-left: none;
                border-right: none;
                border-bottom: 2px solid v.$bordercolor;
                outline: none !important;
              }

              .state-select__value-container {
                font-family: v.$fontRSB;
              }

              .state-select__indicators {
                .state-select__indicator-separator {
                  display: none;
                }

                svg {
                  color: v.$bordercolor;
                }
              }

              .state-select__menu {
                background-color: v.$bg;
                max-height: 20vh;

                .state-select__menu-list {
                  max-height: 20vh;

                  .state-select__option {
                    font-family: v.$fontRSB;
                  }

                  .state-select__option--is-focused {
                    background-color: v.$bordercolor;
                    color: v.$bg;
                  }

                  .state-select__option--is-selected {
                    background-color: v.$dark;
                    color: v.$bg;
                  }
                }
              }
            }
          }
        }

        .right {
          display: flex;
          flex-direction: column;
          gap: 1.5rem;
          width: 35vw;
        }
      }

      .phone {
        display: flex;
        gap: 2rem;

        .code {
          display: flex;
          flex-direction: column;

          input {
            width: 5vw;
            border: none;
            background-color: v.$bg;
            font-family: v.$fontRR;
            font-size: 1rem;
            outline: none;
          }
        }

        .telephone {
          display: flex;
          flex-direction: column;

          input {
            width: 35vw;
            font-size: 1rem;
            font-family: v.$fontRSB;
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom: 2px solid v.$bordercolor;
            background-color: v.$bg;
            outline: none;
          }

          .otp {
            display: flex;
            align-items: center;
            border: 2px solid v.$bordercolor;
            margin-top: 1rem;
            width: 10vw;

            input {
              padding: 0.7rem 1rem;
              width: 7.5vw;
              font-size: 1rem;
              border: none;
            }

            svg {
              display: none; //set to "display: block" when OTP approved
            }
          }
        }
      }
    }
  }

  .proceed-to-checkout-container {
    width: 37vw;
    height: 20vh;
    background-color: v.$dark;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    padding: 0 40px;

    .price-container {
      width: 10vw;
      display: flex;
      .text {
        color: v.$bg;

        h4 {
          font-size: 1.5rem;
          font-family: v.$fontRR;
        }

        p {
          font-size: 0.8rem;
          font-weight: 600;
        }
      }

      svg {
        color: v.$bg;
        width: 30px;
        transform: rotate(180deg);
      }
    }

    .line {
      width: 1px;
      height: 70%;
      background-color: v.$bg;
    }

    .checkout-button-container {
      width: 350px;
      display: flex;
      align-items: center;
      justify-content: center;

      button {
        align-items: center;
        display: flex;
        gap: 0.5rem;
        padding: 0.4rem 0.4rem 0.4rem 0.8rem;
        border-radius: 2rem;
        border-style: solid;
        border-width: 2px;
        border-color: v.$bg;
        font-size: 0.6rem;

        &:hover {
          background-color: v.$bg;
          border-color: v.$bg;

          h3 {
            color: v.$dark;
          }

          svg {
            fill: v.$bg;
          }
        }

        &:active {
          background-color: v.$bg;
          border-color: v.$bg;

          h3 {
            color: v.$dark;
          }

          svg {
            fill: v.$bg;
          }
        }

        h3 {
          font-family: v.$fontRM;
          font-weight: 500;
          font-size: 1.8em;
          color: v.$bg;
        }

        svg {
          width: 3.4em;
          height: auto;
          fill: v.$bg;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .shipping-info-container {
    .proceed-to-checkout-container {
      width: 50vw;
    }
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .shipping-info-container {
    height: auto !important;
    .shipping-info-main {
      margin-top: 60px;
      margin-bottom: 100px;
      .shipping-info-form {
        .main {
          flex-direction: column;
          input {
            width: 100% !important;
          }
          .left {
            width: 100%;
          }

          .right {
            width: 100%;
          }
        }
      }
    }

    .proceed-to-checkout-container {
      width: 100%;
      height: 200px;
      bottom: auto;
      padding: 0 120px;

      .price-container {
        width: max-content;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .shipping-info-container {
    height: auto !important;
    padding: 200px 6vh;
    padding-bottom: 100px;
    .shipping-info-main {
      margin-top: 60px;
      margin-bottom: 100px;
      .shipping-info-form {
        .main {
          flex-direction: column;
          input {
            width: 100% !important;
          }
          .left {
            width: 100%;
          }

          .right {
            width: 100%;
          }
        }

        .phone {
          .telephone {
            input {
              width: 100%;
            }
          }
        }
      }
    }

    .proceed-to-checkout-container {
      width: 100%;
      height: 100px;
      bottom: auto;
      padding: 0 6vw;

      .price-container {
        width: max-content;
        .text {
          h4 {
            font-size: 1rem;
          }
        }
      }

      .checkout-button-container {
        width: auto;

        button {
          h3 {
            width: max-content;
            font-size: 0.6rem;
          }
        }
      }
    }
  }
}
