@use "./variables" as v;

.tkp-admin-main {
  max-width: 100vw;
  padding: 0 8vw 100px 8vw;

  h2 {
    font-family: v.$fontAM;
    font-weight: 100;
    font-size: 4rem;
  }

  .tkp-admin-title {
    display: flex;
    justify-content: space-between;
    gap: 10px;

    .tkp-admin-menu {
      display: flex;
      align-items: center;
      gap: 10px;
      flex-wrap: wrap;

      .active {
        background-color: v.$textTeal;
        color: v.$bg;
      }
    }

    .tkp-admin-option {
      display: flex;
      align-items: center;
      gap: 10px;

      .loading {
        padding: 5px;
        color: blue;

        svg {
          animation: rotate 1s ease-in-out infinite;

          @keyframes rotate {
            from {
              transform: rotate(0deg);
            }
            to {
              transform: rotate(-360deg);
            }
          }
        }
      }

      .refresh {
        padding: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    button {
      border: 1px solid v.$textTeal;
      padding: 5px 10px;
      border-radius: 100px;
      color: v.$textTeal;
      cursor: pointer;

      &:hover {
        background-color: v.$textTeal;
        color: v.$bg;
      }
    }
  }

  .table-admin-info {
    margin-top: 20px;
    font-size: 0.6rem;
    display: flex;

    p {
      display: flex;
      align-items: center;
      gap: 5px;
      border-right: 1px solid v.$textTeal;
      padding: 0 5px;
      font-family: v.$fontRM;

      &:nth-of-type(3) {
        border-right: none !important;
      }

      span {
        width: 10px;
        height: 10px;
        display: inline-block;
        border-radius: 100px;
      }

      .blue {
        background-color: blue;
      }

      .green {
        background-color: green;
      }

      .black {
        background-color: v.$dark;
      }
    }
  }

  .table-responsive {
    margin: 20px 0;
    overflow: scroll;
    height: 80vh;
    border: 2px solid v.$dark;
    border-radius: 10px;

    table {
      width: 100%;
      height: 40px;
      border-collapse: collapse;
      border-spacing: 0;
      font-size: 0.9rem;
      line-height: 1;

      thead {
        position: sticky;
        top: 0;

        tr {
          background-color: v.$textTeal;
          color: v.$bg;

          th {
            text-align: left;
            padding: 5px 10px;
            font-size: 0.9rem;
          }

          .srno {
            min-width: fit-content;
            width: 70px;
          }
        }
      }

      tbody {
        tr {
          td {
            border: 1px solid v.$dark;
            padding: 5px 10px;
            line-height: 1.2;
            border-radius: 20px;
          }
        }
      }

      .green-order {
        color: green;
        font-family: v.$fontRM;
      }

      .blue-order {
        color: blue;
        font-family: v.$fontRM;
      }

      .black-order {
        color: v.$dark;
      }
    }
  }
}

@media screen and (max-width: 556px) {
  .tkp-admin-main {
    .tkp-admin-title {
      flex-direction: column;
    }
  }
}
