@use "./variables" as v;

.user-main-container {
  width: 100vw;
  padding: 0 8vw;
  min-height: calc(100vh - 180px);

  .user-menu {
    height: 100px;
    display: flex;
    align-items: center;

    gap: 1.5em;

    button {
      width: 180px;
      height: 35px;
      font-size: 1rem;
      color: v.$dark;
      border-radius: 100px;
      border: 1px solid v.$dark;
    }

    .active {
      border: 1px solid v.$textTeal;
      background-color: v.$textTeal;
      color: v.$bg;
    }
  }

  .menu-section {
    padding: 20px 0 100px 0;

    h2 {
      font-family: v.$fontAM;
      font-size: 5rem;
      font-weight: 100;
      text-transform: uppercase;
      line-height: 1;
    }
  }

  .order-container {
    .product-main-container {
      display: flex;
      flex-direction: column;
      padding: 20px 0;
      gap: 50px;

      .product-info {
        padding-bottom: 10px;
        border-bottom: 1px solid v.$dark;

        .item-info {
          .order-number {
            width: fit-content;
            border-bottom: 1px solid v.$dark;
            margin-bottom: 10px;
          }

          .items {
            display: flex;
            justify-content: space-between;

            .info {
              display: flex;
              flex-direction: column;

              h3 {
                text-transform: uppercase;

                span {
                  font-family: v.$fontRL;
                  text-transform: uppercase;
                  color: v.$textTeal;
                }
              }
            }

            .total-amount {
              font-family: v.$fontRM;
              color: v.$textTeal;
              margin-top: auto;
            }
          }

          .order-address {
            margin-top: 10px;
            width: fit-content;
          }

          .item-filter {
            display: flex;
            gap: 1em;

            p:nth-of-type(1) {
              font-family: v.$fontRM;
              font-size: 1.2rem;
            }

            p:nth-of-type(2) {
              display: flex;
              justify-content: center;
              width: 50px;
              border: 1px solid v.$dark;
            }
          }
        }
      }
    }
  }

  .account-container {
    ul {
      margin: 50px 0;
      display: flex;
      flex-direction: column;
      gap: 2.5em;

      li {
        display: flex;
        flex-direction: column;
        gap: 0.8em;

        a {
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-size: 1.5rem;
          text-decoration: underline;
          width: 300px;
        }

        p {
          font-size: 0.8rem;
          font-family: v.$fontRM;
        }
      }
    }

    button {
      text-transform: uppercase;
      font-family: v.$fontRL;
      font-size: 1.2rem;
      opacity: 0.5;

      &:hover {
        color: v.$textTeal;
        opacity: 1;
      }
    }
  }

  .settings-container {
    ul {
      margin: 50px 0;
      display: flex;
      flex-direction: column;
      gap: 2.5em;

      li {
        display: flex;
        flex-direction: column;
        gap: 0.8em;

        a {
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-size: 1.5rem;
          text-decoration: underline;
          width: 300px;
        }

        p {
          font-size: 0.8rem;
          font-family: v.$fontRM;
          width: 250px;
        }
      }
    }
  }
}

@media screen and (max-width: 380px) {
  .user-main-container {
    .order-container {
      .product-main-container {
        .product-info {
          .items {
            flex-direction: column;

            .total-amount {
              margin-top: 10px !important;
            }
          }
        }
      }
    }
  }
}
